@page "/"
@inject NavigationManager Navigation

<PageTitle>Welkom bij de Gierige Hollander!</PageTitle>

<h1>Welkom bij de Gierige Hollander!</h1>
<h4>Laten we een aantal vragen beantwoorden?!</h4>
<button @onclick="GoToSurvey">Start de vragenlijst!</button>

@code{
    private void GoToSurvey()
    {
        Navigation.NavigateTo("/survey");
    }
}