@page "/survey"
@using DeGierigeHollander.Gui.Shared
@using System.Text.Json;
@inject HttpClient Http

<PageTitle>Survey</PageTitle>

@using DeGierigeHollander.Gui.Shared

<h3>Let's go!</h3>
@if (question is not null)
{
    <QuestionItem QuestionItem=question></QuestionItem>
}
@code {
    private IEnumerable<Question> Questions = Enumerable.Empty<Question>();

    private Question? question;
    private int visibleQuestionIndex = 0;

    protected override async Task OnInitializedAsync()
    {
        Questions = await GetQuestionsAsync();
    }

    private async Task<IEnumerable<Question>> GetQuestionsAsync()
    {
        var questions = await Http.GetFromJsonAsync<IEnumerable<Question>>("/api/questions");
        Console.WriteLine(JsonSerializer.Serialize(questions));

        return questions;
    }
}